<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Emprunts</title>
</head>
<body>
<h2>Liste des emprunts</h2>
<a href="/formEmprunt">Nouvel emprunt</a>
<table border="1">
    <tr><th>Usager</th><th>NumEx</th><th>Date</th><th>Titre</th></tr>
    <tr th:each="e : ${emprunts}">
        <td th:text="${e.id.nom}"></td>
        <td th:text="${e.id.numExemplaire}"></td>
        <td th:text="${e.id.dateEmprunt}"></td>
        <td th:text="${e.titreOeuvre}"></td>
    </tr>
</table>
<br/>
<a href="/">Retour à l'accueil</a>
</body>
</html>