<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Emprunts</title>
</head>
<body>
<a href="/">Retour à l'accueil</a>
<h2>Liste des emprunts</h2>
<table border="1">
    <tr><th>Usager</th><th>NumEx</th><th>Date</th><th>Titre</th></tr>
    <tr th:each="e : ${emprunts}">
        <td th:text="${e.id.nom}"></td>
        <td th:text="${e.id.numExemplaire}"></td>
        <td th:text="${e.id.getDateEmpruntFormatee()}"></td>
        <td th:text="${e.titreOeuvre}"></td>
        <td>
            <!-- Formulaire pour supprimer l'emprunt -->
            <form th:action="@{/deleteEmprunt}" method="post">
                <input type="hidden" name="nom" th:value="${e.id.nom}" />
                <input type="hidden" name="numExemplaire" th:value="${e.id.numExemplaire}" />
                <input type="hidden" name="dateEmprunt" th:value="${e.id.dateEmprunt.time}" />
                <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet emprunt ?');">
                    Supprimer
                </button>
            </form>
        </td>
    </tr>
</table>
<button onclick="window.location.href = '/formEmprunt';">Nouvel Emprunt</button>
<br/>
</body>
</html>