<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouvel Exemplaire</title>
</head>
<body>
<h2>Ajouter un exemplaire</h2>
<form method="post" th:action="@{/addExemplaire}" th:object="${exemplaire}">
    <label>Titre oeuvre:
        <select th:field="*{titreOeuvre}" name="titreOeuvre">
            <option value="">-- Sélectionner une oeuvre --</option>
            <option th:each="oeuvre : ${oeuvres}" th:value="${oeuvre.titre}" th:text="${oeuvre.titre}"></option>
        </select>
    </label><br/>
    <button type="submit">Ajouter</button>
    <button type="reset">Réinitialiser</button>
</form>
<br/>
<a href="/voirLesExemplaires">Retour</a>
</body>
</html>