<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouvel Emprunt</title>
</head>
<body>
<h2>Créer un emprunt</h2>
<form th:action="@{/addEmprunt}" th:object="${empruntid}" method="post">
    <label>Selectionnez un Usager:
        <select th:field="*{nom}" name="id.nom" required>
            <option th:each="usager : ${usagers}" th:value="${usager.nom}" th:text="${usager.nom + ' ' + usager.prenom}"></option>
        </select>
    </label><br/>
    <label>Selectionnez un Exemplaire:
        <select th:field="*{numExemplaire}" name="id.numExemplaire" required>
            <option th:each="ex : ${exemplaires}" th:if="${ex.etat.toString() == 'disponible'}" th:value="${ex.numExemplaire}" th:text="${ex.numExemplaire + ' - ' + ex.titreOeuvre}"></option>
        </select>
    </label><br/>
    <button type="submit">Emprunter</button>
    <button type="reset">Réinitialiser</button>
</form>
<br/>
<a href="/voirLesEmprunts">Retour</a>
</body>
</html>