<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bibliotheque - Usager</title>
</head>
<body>
    <h2 th:text="${usager.getPrenom()}+' '+${usager.getNom().toUpperCase()}"> Prenom Nom </h2>
<h3>Réservations : </h3>
    <table>
        <thead>
        <tr>
            <th>Oeuvre</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${usager.reservations == null || usager.reservations.empty}">
            <td colspan="3">Aucune Réservation en base de données</td>
        </tr>
        <tr th:each="reservation: ${usager.reservations}" th:if="${usager.reservations != null}">
            <td><span th:text="${reservation.getId().getTitreOeuvre()}"> Oeuvre </span></td>
            <td><span th:text="${reservation.getId().getDateReservationFormatee()}"> Date </span></td>
        </tr>
        </tbody>
    </table>
    <script>
        function onFaireUneReservationClick(){
            document.getElementById("faireUneReservationBouton").hidden = true;
            document.getElementById("reservationForm").hidden = false;
            document.getElementById("hideReservationForm").hidden = false;
        }

        function onHideReservationFormClick(){
            document.getElementById("faireUneReservationBouton").hidden = false;
            document.getElementById("reservationForm").hidden = true;
            document.getElementById("hideReservationForm").hidden = true;
        }
    </script>
    <button id="faireUneReservationBouton" onclick=onFaireUneReservationClick()>Faire Une Reservation</button>
    <form hidden="true" id="reservationForm"
          method="post"
          th:action="@{/faireUneReservation}" th:object="${reservation}">
        <h4>Nouvelle Reservation : </h4>
        <select th:field="*{titreOeuvre}">
            <option th:each="oeuvre: ${oeuvres}" th:value="${oeuvre.getTitre()}" th:text="${oeuvre.getTitre()}"> Nom </option>
        </select>
        <input type="hidden" th:field="*{nomUsager}"/>
        <input type="hidden" th:field="*{dateReservation}"/>
        <button type="submit">Faire une réservation</button>
    </form>
    <h6><a hidden="true" id="hideReservationForm" onclick=onHideReservationFormClick()>Retour</a></h6>
</body>
</html>